body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.headerPrincipal {
	background-color: #FFF;
	padding: 20px 0;
	margin: 0px 30px 30px 0px;
	/* Margin arriba derecho izquierdo abajo*/

}

.headerPrincipal-nav .rodapePrincipal-contatoForm-fieldset{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rodapePrincipal-contatoForm-fieldset  .clsdiv_logo_busqueda{
	display: flex;
	justify-content: space-between;
	width: auto;
}

.clsdiv_logo_busqueda .cls_campo_busqueda{
	  width: 100%;
      height: 40px;
      margin: 0 auto;
	  border: 1px solid rgb(116, 185, 231);
	  background: rgba(219, 222, 223, 0.884);
      border-radius: 10px;
}


.rodapePrincipal-contatoForm-fieldset .clsboton_login{
	   /* Le decimos al boton que ocupe el 40% del espacio disponible*/
	   width: 20%;
	   /*El padding amplia internamente el boton y lo hace ver mas amplio*/
	   padding: 15px 0; /* 15 px arriba y abajo y cero para los costados*/
	   /* Tamaño de letra*/
	   font-size: 18px;
	   /* Colocamos negrita al título*/
	   font-weight: bold;
	   /* Damos un color de letra al texto */
	   color: #2c7cf3;
	   /* Damos un color de fondo al botón */
	   background: white;
	   /* Quitamos el borde al boton no se ve muy bien */
	   border: 1px solid rgb(116, 185, 231);
	   /* Redondeamos las esquinas del botón */
	   border-radius: 5px;
	   /* Da una espera en segundos para cambiar el background, para el ejemplo tiene 2 segundos*/
	   transition: 2s background;
	   /* Cambia la flecha del cursor por una mano */
	   cursor: pointer;
	  
}

.headerPrincipal-nav .clsimgencabezado{
	margin-top: 5px;
	width: 100%;
}

.subtitulo{
	margin-top: 50px;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	margin-left: 200px;
	text-align: left;
}

.contenidoPrincipal-starwars{
	width: 100%;
	display:flex; /* Se coloca un elemento al lado del otro */
	justify-content: center;
}

.contenidoPrincipal-starwars .clsdiv_starwars_elements{
	width: 80%;
	display: flex; /* Colocaa el texto de Mini Alura al costado izquierdo del otro texto que dice 
    Estudia donde quiera Nuevos cursos ... */
	align-items: center;
	justify-content: space-evenly;
}
.contenidoPrincipal-starwars .clsparrafo{
    display: flex; /* Colocaa el texto de Mini Alura al costado izquierdo del otro texto que dice 
    Estudia donde quiera Nuevos cursos ... */
    flex-direction: column;
	text-align: center;

}

.contenidoPrincipal-starwars .clsparrafo a{
	text-decoration: none; /* Quitamos el subrayado del enlace */
    color: blue; /* Color de texto del enlace*/
}

/* CONSOLA */

.contenidoPrincipal-consolas{
	width: 100%;
	display:flex; /* Se coloca un elemento al lado del otro */
	justify-content: center;
}

.contenidoPrincipal-consolas .clsdiv_consolas_elements{
	width: 80%;
	display: flex; /* Colocaa el texto de Mini Alura al costado izquierdo del otro texto que dice 
    Estudia donde quiera Nuevos cursos ... */
	align-items: center;
	justify-content: space-evenly;
}
.contenidoPrincipal-consolas .clsparrafo{
    display: flex; /* Colocaa el texto de Mini Alura al costado izquierdo del otro texto que dice 
    Estudia donde quiera Nuevos cursos ... */
    flex-direction: column;
	text-align: center;

}

.contenidoPrincipal-consolas .clsparrafo a{
	text-decoration: none; /* Quitamos el subrayado del enlace */
    color: blue; /* Color de texto del enlace*/
}


/* END CONSOLA */

/* DIVERSIÓN */

.contenidoPrincipal-diverso{
	width: 100%;
	display:flex; /* Se coloca un elemento al lado del otro */
	justify-content: center;
}

.contenidoPrincipal-diverso .clsdiv_diverso_elements{
	width: 80%;
	display: flex; /* Colocaa el texto de Mini Alura al costado izquierdo del otro texto que dice 
    Estudia donde quiera Nuevos cursos ... */
	align-items: center;
	justify-content: space-evenly;
}
.contenidoPrincipal-diverso .clsparrafo{
    display: flex; /* Colocaa el texto de Mini Alura al costado izquierdo del otro texto que dice 
    Estudia donde quiera Nuevos cursos ... */
    flex-direction: column;
	text-align: center;

}

.contenidoPrincipal-diverso .clsparrafo a{
	text-decoration: none; /* Quitamos el subrayado del enlace */
    color: blue; /* Color de texto del enlace*/
}


/* END DIVERSIÓN */

.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.contenidoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}



.contenidoPrincipal-cursos-link {
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}

.contenidoPrincipal-cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.contenidoPrincipal-cursos-link:hover {
	box-shadow: 4px 4px 4px #CCC;
}

.contenidoPrincipal-cursos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.contenidoPrincipal-cursos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
}

.contenidoPrincipal-cursos-link:nth-child(odd) a:before {
	background: url(../img/background2.svg) no-repeat;
}


.rodapePrincipal {
	background-color: #ebf1f7;
	padding-top: 20px;
}

.rodapePrincipal .subtitulo {
	color: #FFF;
}

.rodapePrincipal-navMap-link {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}

.rodapePrincipal-navMap-link {
	font-size: .9em;
}

.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.navmap-list-title + .rodapePrincipal-navMap-link {
	margin-top: 0;
}

.navmap-list-title-bancoDeDados { color: #EC6E5A; border-left: 4px solid #EC6E5A; }
.navmap-list-title-framework { color: #AD85BF; border-left: 4px solid #AD85BF; }
.navmap-list-title-frontend { color: #5EC6F3; border-left: 4px solid #5EC6F3; }
.navmap-list-title-backend { color: #25D285; border-left: 4px solid #25D285; }

.rodapePrincipal-patrocinadores {
	margin-top: 30px;
	background: #F2F5F7;
	padding: 20px 0;
}

.rodapePrincipal-contatoForm {
	margin-top: 20px;
	text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin-bottom: 5px;
	display: block;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}


.clscontacto {
	display: flex;
	margin-left: 80px;
	margin-top: 50px;
	width: 85%;
	justify-content: space-between;
	background-color: #c8eeff;
	color: #FFF;
	padding: 25px 0;
	color: rgb(82, 92, 95)
}

.clsdiv_logo_contacto{
	margin-left: 60px;
	width: 20%;

}
.cls_legen_contacto {
	width: 100%;
	font-size: 20px;
	padding-top: 10px;

}

.cls_legen_contacto .clsparrafo_contato{
	padding: 10px;
	font-size: 20px;
}

.clscontacto-sobre {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.clscontacto-sobre .cls_form_contacto .input-padre{
	/* al colocar display block, estamos colocando los elementos de forma vertical */
   display: block;
   margin: 0 0 20px;
   /* padding amplia por así decirlo los espacios donde el usuario coloca la información,
   espacio entre el borde y el contenido */
   padding: 10px 25px;
   /* de los 940 que se dan en el main, los input van a ocupar el 50% de ese espacio */
   width: 50%;

}


.cls_form_contacto .clsboton_contacto{
	/* Le decimos al boton que ocupe el 40% del espacio disponible*/
	width: 50%;
	/*El padding amplia internamente el boton y lo hace ver mas amplio*/
	padding: 15px 0; /* 15 px arriba y abajo y cero para los costados*/
	/* Tamaño de letra*/
	font-size: 15px;
	/* Colocamos negrita al título*/
	font-weight: bold;
	/* Damos un color de letra al texto */
	color: white;
	/* Damos un color de fondo al botón */
	background: rgb(63, 170, 241);
	/* Quitamos el borde al boton no se ve muy bien */
	border: 1px solid rgb(116, 185, 231);
	/* Redondeamos las esquinas del botón */
	border-radius: 5px;
	/* Da una espera en segundos para cambiar el background, para el ejemplo tiene 2 segundos*/
	transition: 2s background;
	/* Cambia la flecha del cursor por una mano */
	cursor: pointer;
   
}

.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}

.subtitulo_footer{
	text-align: center;
	font-size: 10px;
	margin-bottom: 10px;
}
